apache-airflow-providers-http
apache-airflow-providers-airbyte
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
apache-airflow>=2.10.1 # not directly required, pinned by Snyk to avoid a vulnerability
apache-airflow-providers-ftp>=3.8.0rc2 # not directly required, pinned by Snyk to avoid a vulnerability
apache-airflow-providers-imap>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=4.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability