apache-airflow-providers-http
apache-airflow-providers-airbyte
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
apache-airflow>=2.10.3rc1 # not directly required, pinned by Snyk to avoid a vulnerability